<div class="container" id="main">
  <span id="turn">{{ currentPlayer }}'s turn</span>

  <div
    class="box"
    style="border-left: 0; border-top: 0"
    id="box1"
    (click)="boxClicked(1)"
  >
    {{ board[0] }}
  </div>
  <div class="box" style="border-top: 0" id="box2" (click)="boxClicked(2)">
    {{ board[1] }}
  </div>
  <div
    class="box"
    style="border-top: 0; border-right: 0"
    id="box3"
    (click)="boxClicked(3)"
  >
    {{ board[2] }}
  </div>
  <div class="box" style="border-left: 0" id="box4" (click)="boxClicked(4)">
    {{ board[3] }}
  </div>
  <div class="box" id="box5" (click)="boxClicked(5)">{{ board[4] }}</div>
  <div class="box" style="border-right: 0" id="box6" (click)="boxClicked(6)">
    {{ board[5] }}
  </div>
  <div
    class="box"
    style="border-left: 0; border-bottom: 0"
    id="box7"
    (click)="boxClicked(7)"
  >
    {{ board[6] }}
  </div>
  <div class="box" style="border-bottom: 0" id="box8" (click)="boxClicked(8)">
    {{ board[7] }}
  </div>
  <div
    class="box"
    style="border-right: 0; border-bottom: 0"
    id="box9"
    (click)="boxClicked(9)"
  >
    {{ board[8] }}
  </div>
</div>

<button class="btn btn-rounded" id="replay" (click)="resetGame()">
  Play Again
</button>
